
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Patients Registry</h1>
    <p class="lead">Made by Alexandra Valkova</p>
    @*<p><a href="/Home/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>*@
</div>